.stylish-input-group {
	
	width: 10%;
	display: inline-table;
	vertical-align: middle;

	.input-group-addon,
	.form-control {
		width: auto !important;
	}

	.input-group-addon{
		background: white !important; 
	}

	.form-control{
		border-right:0; 
		box-shadow:0 0 0; 
		border-color:#ccc;

	}

	button{
		border:0;
		background:transparent;

	}
}

