<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">yt-music-player</a>

    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ng-class="{active: $ctrl.isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>

        <li class="search-li">
          <!-- Stylish input based on http://bootsnipp.com/snippets/featured/stylish-input-using-icon-font -->
          <div class="input-group stylish-input-group navbar-form">
            <input type="text" class="form-control"  placeholder="Search artist" ng-model="$ctrl.searchQuery" ng-keyup="$event.keyCode === 13 && $ctrl.onSearchSubmit()" >
            <span class="input-group-addon">
              <button type="submit" ng-click="$ctrl.onSearchSubmit()">
                <span class="glyphicon glyphicon-search"></span>
              </button>  
            </span>
          </div>

        </li>

      </ul>
    </div>
  </div>
</div>
