<div class="container-fluid">


	<div class="row">
		
		<div class="col-sm-2">
			<!--<img src="{{ $ctrl.albumViewModel.thumbnails.default.url }}" alt="" />-->
			<yt-player control="$ctrl.ytPlayerControl" videoId="$ctrl.videoId"></yt-player>
		</div>
		<div class="col-sm-10">
			<h1>{{ $ctrl.albumViewModel.title }}</h1>

			<p ng-if="$ctrl.albumViewModel.trackList.length <= 0">{{ $ctrl.albumViewModel.description }}</p>

			<div class="tracklist-div container-fluid">
				<div class="track-div row" ng-repeat="track in $ctrl.albumViewModel.trackList" ng-click="$ctrl.onTrackSelect(track)">
					<div class="track-num">{{ track.num }}</div>
					<div class="track-title">{{ track.title }}</div>
					<div class="track-length">{{ track.length | secToMinSec }}</div>
				</div>

			</div>
			
		</div>

	</div>
</div>