<div>


	<div class="row">
		
		<div class="col-sm-2">
			<!--<img src="{{ $ctrl.albumViewModel.thumbnails.default.url }}" alt="" />-->
			<yt-player control="$ctrl.ytPlayerControl"></yt-player>
		</div>
		<div class="col-sm-10">
			<h1>{{ $ctrl.albumViewModel.title }}</h1>

			<p>{{ $ctrl.albumViewModel.description }}</p>

			<ul ng-repeat="track in $ctrl.albumViewModel.trackList">
			<li>{{ track.num }}. {{ track.title }} | <a ng-click="$ctrl.onTrackSelect(track)">{{ track.length }}</a></li>
			</ul>
		</div>

		




	</div>
